@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #fdfbf7;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
